* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f3f3;
  color: rgb(247, 236, 236);
  text-align: center;
}

::selection {
  background-color: white;
  color: rgb(55, 213, 55);
}

.container {
  /* border: 1px solid rgb(234, 226, 226); */
  margin: 15% 0;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container button {
  width: 50%;
  padding: 10px 20px;
  margin: 0 auto;
  font-size: 20px;
  cursor: pointer;
  border-radius: 12px;
}

.container p {
  font-size: 2rem;
}

h1 {
  text-align: center;
}

h4 {
  font-size: 2.3rem;
}

.buttons {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 20px 0;
  align-items: center;
  height: auto;
  border: 1px solid white;
  margin: auto;
}

.buttons button {
  width: 300px;
  height: 200px;
  padding: 20px;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s;
}

.buttons button:hover {
  transform: scale(1.1);
}

.buttons button:nth-child(1):hover {
  background-color: red;
  color: white;
}
.buttons button:nth-child(2):hover {
  background-color: rgb(104, 247, 21);
  color: rgb(0, 0, 0);
}
.buttons button:nth-child(3):hover {
  background-color: rgb(21, 68, 130);
  color: white;
}
.buttons button:nth-child(4):hover {
  background-color: rgb(228, 26, 247);
  color: rgb(0, 0, 0);
}
.buttons button:nth-child(5):hover {
  background-color: rgb(184, 9, 9);
  color: white;
}
.buttons button:nth-child(6):hover {
  background-color: rgb(243, 158, 31);
  color: rgb(0, 0, 0);
}
.buttons button:nth-child(7):hover {
  background-color: rgb(224, 250, 26);
  color: rgb(0, 0, 0);
}
.buttons button:nth-child(8):hover {
  background-color: rgb(24, 216, 249);
  color: rgb(3, 3, 3);
}
.buttons button:nth-child(9):hover {
  background-color: rgb(211, 154, 21);
  color: rgb(231, 225, 225);
}
.buttons button:nth-child(10):hover {
  background-color: rgb(224, 234, 25);
  color: rgb(40, 40, 40);
}
.buttons button:nth-child(11):hover {
  background-color: rgb(122, 8, 166);
  color: rgb(245, 241, 241);
}
.buttons button:nth-child(12):hover {
  background-color: rgb(7, 192, 78);
  color: rgb(40, 40, 40);
}
.buttons button:nth-child(13):hover {
  background-color: rgb(214, 224, 13);
  color: rgb(40, 40, 40);
}
.buttons button:nth-child(14):hover {
  background-color: rgb(140, 35, 117);
  color: rgb(248, 245, 245);
}
.buttons button:nth-child(15):hover {
  background-color: rgb(41, 85, 205);
  color: rgb(248, 245, 245);
}
